$dark-blue: hsl(244, 38%, 16%);
$very-db:  hsl(233, 47%, 7%);
$violet: hsl(277, 64%, 61%);
$light: hsl(0, 0%, 100%);
$para-light: hsla(0, 0%, 100%, 0.75);
$stat-light: hsla(0, 0%, 100%, 0.6);


//Fonts
$font-one: 'Inter', sans-serif;
$font-two: 'Lexend Deca', sans-serif;